/* Reset Brwoser defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Custom @font-face declaration for 'Roboto-Regular' with multiple source formats for compatibility */
@font-face {
  font-family: 'Roboto-Regular';
  src: local('MyCustomFont'), url('./assets/fonts/Roboto-Regular.ttf') format('woff2'), url('./assets/fonts/Roboto-Regular.ttf') format('woff'),
    url('./assets/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* CSS custom properties (variables) for consistent theming and easier maintainability */
:root {
  --primery-background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(71, 42, 20, 1) 92%);
  --primary-textColor: #fff;
  --secondary-textColor: #93592e;
}

/* Default font family set for the body element, with 'Roboto-Regular' and fallback to sans-serif */
body {
  font-family: 'Roboto-Regular', sans-serif;
}

/* Global link styling for all links in the project*/
.link {
  text-decoration: none;
  color: var(--primary-textColor);
  font-size: 1.2rem;
  padding: 8px 0;
  border-bottom: 2px solid transparent;
  transition: border-bottom 225ms ease-in-out;
}

.link:hover {
  border-bottom: 2px solid var(--secondary-textColor);
}
